#main-container label {
	text-align: right;
	margin: 5px 0 8px 0;
}
.right {
	float: right !important;
}
.form-label {
	text-align: center !important;
}
#main-container #profileProcess {
	margin: 10px  0 0 0;
}
.padding-none {
	padding: 0 !important;
}
.margin-none {
	margin:0 !important;
}
.form-text {
	text-align: left !important;
}
.banner-img {
	max-width: 100%;
	display: inline-block;
}
.main-list-sec ul li {
	display: inline-block;
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 0px 15px;
}
.header-section {
	padding: 20px 0px;
	background: indigo;
	color: #FFF;
	cursor: pointer;
}
.content-section {
	background: indigo;
	padding: 30px 14px;
	color: #FFF;
}
.login-section {
	background: #FFF;
	color: #000;
	border-radius: 5px;
	height: 260px;
}
.login-section  h1 {
 	margin-bottom: 40px;
 }
 .applayout-sec {
 	background: indigo;
 }
 .heading-sec {
 	 margin-bottom: 30px;
 }
 .heading-sec h1 {
 	border-bottom: 2px solid;
    padding-bottom: 20px;
    text-transform: capitalize;;
 }
#searchBox {
	border: none;
	border-radius: 4px;
	color: #000;
}
#user-list li {
	list-style: none;
	cursor: pointer;
	color: #000000;
}

.user-name {
	position: absolute;
    top: 36px;
    color: #000;
    font-size: 11px;
    text-transform: capitalize;
}
.icon-sec {
	cursor: pointer;
}
#chatBox {
	height: 320px;
	width: 246px;
	background: #FFF;
}
.minimize-class {
	height: 0px !important;
    width: 309px !important;
    background: #FFF;
}
.minimized-header {
	height: 51px !important;
    background: #b1b1b1 !important;
    color: #FFF !important;
    width: 50px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.minimize-icon-sec {
	position: absolute;
    top: -9px;
    left: 29px;
    font-size: 8px;
    color: #000;
    width: 63px;
    cursor: pointer;
}
#chatBox .chat-header {
	height: 15%;
	background: #b1b1b1;
	color: #FFF;
}
.minimized-header,.minimize-icon-sec,.minimize-class,.title-sec,.plus-icon,#chatBox,.msg-send-sec {
    -webkit-transition: all 2s; 
    -moz-transition: all 2s; 
    -o-transition: all 2s; 
    transition: all 2s;
}
#chatBox .chat-body {
	height: 75%;
	background: #FFF;
	color: #000;
}
#chatBox .msg-send-sec {
	height: 11%;
	background: #FFF;
	color: #000;
	position: relative;
}
.minimize-icon {
	cursor: pointer;
}
#chat-box-list li {
	list-style: none;
    display: inline;
    margin: 0 23px 23px 0;
    float: left;

}
.left-class {
	text-align: left;
	display: block;
}
.right-class {
	text-align: right;
	display: block;
}
.msg-list-sec {
	height: 248px;
	overflow-y: auto;
}
.user-online {
	background-color: #FFF;
}
.user-offline {
	background-color: #e1e1e1;
}
.emoji-sec {
	position: absolute;
	left:30%;
	top:35px;
}
.emoji-sec .emoji-list {
	width: 447px;
	overflow-x: hidden;
	height: 200px;
	background: white;
	border: 4px solid rgba(0, 0, 0, .25);
	padding:0px;
	overflow-y:auto;
	left: 150px;
}
.emoji-sec .emoji-list li {
	 /*float: left;
    width: 50px;
    height: 50px;*/
    cursor: pointer;
    margin: 0 !important;
}
.emoji-sec .smily-list li img  {
	height: 50px;
    width: 50px;
    cursor: pointer;
}
.emoji-sec .smily-list li img:hover {
	border:4px solid rgba(0, 0, 0, .25);
	
}
#chatBox .chat-body .msg-list-sec li {
	display: block;
}
.attachment-panel .attachment-preview {
	height: 128px;
}
.notification-container .search-list {
	position: relative;

}
.notification-container .search-list .search-key-list {
	position: absolute;
	top: 35px;
	z-index: 99999;
	background-color: #000;
	opacity: 0.8;
}
.notification-container .search-list .search-key-list li {
	list-style-type: none;
	cursor: pointer;
}
.notification-content {
	width: 200px;
	position: absolute;
	left: 90%;
	background: #FFF;
}
#call-main-container .usr-search-list ul {
	position: absolute;
	background: #000;
	opacity: 0.6;
	top: 39px;
	z-index: 9999;
}
#call-main-container .usr-search-list ul li {
	list-style-type: none;
	cursor: pointer;
}